<% provide(:title, 'Sign up') %>
<div class="wrapper">
  <div class="wrapper_aside">
  </div>
  <div class="wrapper_main home_contact">
    <h1>Users#new</h1>
    <p>Find me in app/views/users/new.html.erb</p>
  </div>
</div>
