<% provide(:title, "マイページ") %>
<div class="wrapper">
  <div class="wrapper_aside">
  </div>
  <div class="wrapper_main user_show">
    <h1 class="#"><%= "ユーザーさんのページ" %><br>
      <%= @user.name  %><br>
      <%= @user.email %><br>
    </h1>
    <%= link_to "プロフィールページ更新", edit_user_path, class:"#" %>
  </div>
</div>