<%= provide(:title, " /about") %>
<div class="wrapper">
  <%= render 'layouts/aside' %>
  <div class="wrapper_main home_contact">
    <div class="home_contact_top">
     <h1>aboutページ　作成中</h1>
    </div>
    <div class="home_contact_second"></div>
    <div class="home_contact_faq">
      <h2>よくある質問 ※現在はダミー質問</h2>
      <ul class="faq">
        <li class="faq-list-item">
          <h3 class="faq-question">
            Aboutページとはなんですか？
          </h3>
          <span>+</span>
          <div class="faq-answer">
            <p>会社紹介であったりブランドやミッションを語っているページのことです。</p>
          </div>
        </li>
        <li class="faq-list-item">
          <h3 class="faq-question">
            このアプリの作成者のミッションはなんですか？
          </h3>
          <span>+</span>
          <div class="faq-answer">
            <p>そんなものは　ありません。<br>ただの趣味です。</p>
          </div>
        </li>
        <li class="faq-list-item">
          <h3 class="faq-question">
            このアプリは　どの言語を使っていますか？
          </h3>
          <span>+</span>
          <div class="faq-answer">
            <p>Ruby on Railsを　使用しています。<br>Ruby on Rails　をネットからコピペしながら　書いています。</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>