<div class="wrapper">
  <div class="wrapper_aside">
  </div>
  <div class="wrapper_main home-chat">
    <ul class="messages">
      <li class="left-side">
        <div class="pic">
          <img src="#">
        </div>
        <div class="text">
          こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。
        </div>
      </li>
      <li class="right-side">
        <div class="pic">
          <img src="#">
        </div>
        <div class="text">
          お久しぶりです！
        </div>
      </li>
      <li class="left-side">
        <div class="pic">
          <img src="#">
        </div>
        <div class="text">
          こんにちは。こんにちは。
        </div>
      </li>
      
      
       
      
      
    </ul>

  </div>
</div>