<div class="wrapper">
  <div class="wrapper_aside">
  </div>
  <div class="wrapper_main chat">
    <ul class="chat-messages">
      <li class="chat-left">
        <div class="chat-pic">
          <%= image_tag 'chat/toypoodle.png', alt: "logo", class: "chat-img" %>
        </div>
        <div class="chat-text">
          こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。こんにちは。
        </div>
      </li>
      <li class="chat-right">
        <div class="chat-pic">
          <%= image_tag 'chat/toypoodle.png',alt: "logo", class: "chat-img"  %>
        </div>
        <div class="chat-text">
          お久しぶりです！
        </div>
      </li>
      <li class="chat-left">
        <div class="chat-pic">
          <%= image_tag 'chat/toypoodle.png', alt: "logo", class: "chat-img"  %>
        </div>
        <div class="chat-text">
          こんにちは。こんにちは。
        </div>
      </li>
      
      
       
      
      
    </ul>

  </div>
</div>