<% provide(:title, " /contact") %>
<div class="wrapper">
  <%= render 'layouts/aside' %>
  <div class="wrapper_main home_contact">
    <div class="home_contact_top">
     <h1>お問い合わせページ　作成中</h1>
    </div>
    <div class="home_contact_second"></div>
    <div class="home_contact_faq">
      <h2>よくある質問 ※現在はダミー質問</h2>
      <ul class="faq">
        <li class="faq-list-item">
          <h3 class="faq-question">
            Front Appの公式キャラクターはなんですか？
          </h3>
          <span>+</span>
          <div class="faq-answer">
            <p>そんなものは　ありません。</p>
          </div>
        </li>
        <li class="faq-list-item">
          <h3 class="faq-question">
            このアプリの作成者は　他にどんなアプリを開発したのですか？
          </h3>
          <span>+</span>
          <div class="faq-answer">
            <p>そんなものは　ありません。<br>あまり頭はよくありません。</p>
          </div>
        </li>
        <li class="faq-list-item">
          <h3 class="faq-question">
            このアプリは　どの言語を使っていますか？
          </h3>
          <span>+</span>
          <div class="faq-answer">
            <p>Ruby on Railsを　使用しています。<br>現在Ruby on Railsを勉強中です。</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>