<%= provide(:title, " /explain") %>
<div class="wrapper">
  <%= render 'layouts/aside' %>
  <div class="wrapper_main home_contact">
    <div class="home_contact_top">
     <h1>Explainページ　作成中</h1>
    </div>
    <div class="home_contact_second"></div>
    <div class="home_contact_faq">
      <h2>よくある質問 ※現在はダミー質問</h2>
      <ul class="faq">
        <li class="faq-list-item">
          <h3 class="faq-question">
            Explainページとは　ホームページを説明しているページですが　何か？
          </h3>
          <span>+</span>
          <div class="faq-answer">
            <p>変な質問と変な回答で　すいません。</p>
          </div>
        </li>
        <li class="faq-list-item">
          <h3 class="faq-question">
            上記では　意味がわかりませんが？
          </h3>
          <span>+</span>
          <div class="faq-answer">
            <p>例をあげると<br>愛される〇〇を目指して。<br>
　　　　　　　　　私達は開業以来、この町で<br>
　　　　　　　　　地域の皆様とともに　商売をしてきました。。</p>
            <p>現在は　ダミーページです。<br>
               今後もずっとダミーページかも　しれません。</p>
          </div>
        </li>
        <li class="faq-list-item">
          <h3 class="faq-question">
            アプリを作るのに　どの言語を最初に勉強するべきですか？
          </h3>
          <span>+</span>
          <div class="faq-answer">
            <p>java script。<br>Ruby on Rails や　python など主要言語で　使用するため</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>