<% provide(:title, " /heart")%>
<div class="wrapper">
  <div class="wrapper_aside">
  </div>
  <div class="wrapper_main heart">
    <label class="heart-like">
      <input type="checkbox">
      <i class="far fa-heart fa-10x heart-icon1"></i>
      <div class="heart-ripple"></div>
  </label>
    <div class ="heart-icon">
    <i class="fas fa-heart fa-10x "></i>
    <i class="fas fa-heartbeat fa-10x "></i>
    <i class="far fa-kiss-wink-heart fa-10x "></i>
    <i class="fas fa-kiss-wink-heart fa-10x"></i>
    </div>

    <div class ="heart-icon">
    <i class="fas fa-hand-holding-heart fa-10x "></i>
    <i class="fab fa-gratipay fa-10x"></i>
    <i class="fas fa-icons fa-10x"></i>

    </div>

    <div class ="heart-icon">
      <i class="fas fa-grin-hearts fa-10x"></i>
      <i class="far fa-grin-hearts fa-10x"></i>

    </div>

  </div>

</div>