<div class="wrapper">
  <div class="wrapper_aside">
  </div>
  <div class="wrapper_main home-heart">
    <label class="like">
    <input type="checkbox">
    <i class="far fa-heart"></i>
    <div class="ripple"></div>
  </label>
  <i class="fas fa-heart"></i>
  <i class="fas fa-heartbeat"></i>
  <i class="far fa-hands-heart"></i>
  <i class="fad fa-home-heart"></i>
  <i class="far fa-kiss-wink-heart"></i>
  </div>
</div>