<% provide(:title, " /heart")%>
<div class="wrapper">
  <%= render 'layouts/aside' %>
  <div class="wrapper_main heart">
    <label class="heart-like">
      <input type="checkbox">
      <i class="far fa-heart fa-10x heart-icon1"></i>
      <div class="heart-ripple"></div>
  </label>
    <div class ="heart-icon">
    <i class="fas fa-heart fa-6x "></i>
    <i class="fas fa-heartbeat fa-6x "></i>
    <i class="far fa-kiss-wink-heart fa-6x "></i>
    <i class="fas fa-kiss-wink-heart fa-6x"></i>
    <i class="fas fa-hand-holding-heart fa-6x "></i>
    <i class="fab fa-gratipay fa-6x"></i>
    <i class="fas fa-icons fa-6x"></i>
    <i class="fas fa-grin-hearts fa-6x"></i>
    <i class="far fa-grin-hearts fa-6x"></i>
    </div>

    <div class ="stopwach">
      <div id="timer">00:00.000</div>
      <button id ="start">START</button>
      <button id ="stop">STOP</button>
      <button id ="reset">RESET</button>
    </div>

    <div class ="heart-icon">

    </div>

  </div>

</div>

<script>
  'use strict';

  {
    const timer = document.getElementById('timer');
    const start = document.getElementById('start');
    const stop  = document.getElementById('stop');
    const reset = document.getElementById('reset');

  }


</script>
