body{
   background-image: image_url('sakura3.jpg');
  //  background-image: image_url('sora1.jpg');
   background-size: cover;
}
.header{
   height: 100px;
  //  background-color: skyblue;
}
.container{
  min-height: calc(100vh - 200px);
  //  height: 100vh;
  // background-color: paleturquoise;
  }
.wrapper{
  min-height: calc(100vh - 200px);
  display: flex;
  &_aside{
    width:300px;
    // background-color: peru;
  }
  &_main{
    flex: 1;
    // background-color: peachpuff;
  }
}
.footer{
  height: 100px;
  // background-color: slateblue;
}