body{
  //  background-image: image_url('sakura3.jpg');
   background-image: image_url('sora1.jpg');
   background-size: cover;
}
.header{
   height: 100px;
  //  background-color: skyblue;
}
.container{
  min-height: calc(100vh - 200px);
  //  height: 100vh;
  // background-color: paleturquoise;
  }
.wrapper{
  min-height: calc(100vh - 200px);
  display: flex;
  &_aside{
    width:300px;
    // background-color: thistle;
  }
  &_main{
    flex: 1;
    // background-color: peachpuff;
  }
}
.home-index{
  // background-color: whitesmoke;
}
.home-top{
  // background-color: wheat;
}
// ここからchat
.chat{
  // background-color: turquoise;
  padding: 32px;
  &-messages{
    list-style: none;
  }
  &-messages li{
    display: flex;
  }
  &-messages li + li{
    margin-top: 32px;
  }
  &-left{

  }
  &-pic{
    background-color: pink;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
  }
  &-img{
    width: 48px;
    padding-top: 12px;
  }
  &-right{
    flex-direction: row-reverse;
  }
  &-text{
    background: #fff;
    border-radius: 8px;
    margin: 0px 18px;
    padding: 16px 24px;
    max-width: 60%;
    line-height: 1.8;
    position: relative;
  }
  &-text::before {
    content: '';
    width: 0;
    height: 0;
    /* border: 8px solid #fff; */
    border: 12px solid transparent;
    position: absolute;
  }

  &-left &-text::before {
    top: 12px;
    left: -24px;
    border-right-color: #fff;
  }

  &-right &-text::before {
    top: 12px;
    right: -24px;
    border-left-color: #fff;
  }
}



// ここからheart
.heart{
  // background-color: pink;
  &-icon{
    color: palevioletred;
    margin: 10px;
  }
  &-icon i{
    margin-left: 20px;
  }
}
.footer{
  height: 100px;
  // background-color: slateblue;
}