<div class="aside robots">
    <%= link_to image_tag('robots/robot1.png', alt:"logo",width:"70px"), robot1_path, data: {"turbolinks" => false}, class:"robot-image" %>
    <%= link_to image_tag('robots/robot2.png', alt:"logo",width:"90px"), robot2_path, data: {"turbolinks" => false}, class:"robot-image" %>
    <%= link_to image_tag('robots/robot6.jpeg', alt:"logo",width:"80px"), robot3_path, data: {"turbolinks" => false}, class:"robot-image" %>
    <%= link_to image_tag('robots/robot5.jpeg', alt:"logo",width:"70px"), robot4_path, data: {"turbolinks" => false}, class:"robot-image" %>
  </div>